* { /* Selects all elements */
    box-sizing: border-box; /* Includes padding + border in element's total size */
    margin: 0px; /* Sets the margin to default to 0 for all elements */
    padding: 0px; /* Sets the padding to default to 0 for all elements */
}

:root { /* Selects the document's root element: <html> */
    background-color: var(--color-background);
}

body {
    background-color: var(--color-background);
    height: 100vh;
    width: 100%;
    color: var(--color-text3);
}

#nav {
    background-color: var(--color-nav);
    border-bottom: 1px solid var(--color-border);
    height: 60px;
    display: flex;
}

#logo-box {
    border-right: 1px solid var(--color-border);
    border-bottom: 3px solid var(--color-text1);
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    font-size: 18pt;
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: var(--color-text1);
    position: relative;
    left: 10px;
    top: 3px;
}

#icons {
    position: absolute;
    right: 10px;
}

.box {
    background-color: var(--color-box);
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
}

.material-icons {
    font-size:32px;
}

.icon-links:link {
    color: var(--color-icon-link);
}

.icon-links:visited {
    color: var(--color-icon-link);
}

.icon-links:hover {
    color: var(--color-icon-hover);
}

.icon-links:active {
    color: var(--color-icon-active);
}

code {
    font-family: 'JetBrains Mono';
    font-size: 10pt;
    overflow: scroll;
}

/* SCROLL BAR */

::-webkit-scrollbar { /* width */
    width: 5px;
}

::-webkit-scrollbar-corner { /* corner */
    background: var(--color-box);
}

::-webkit-scrollbar-track { /* track */
    background: var(--color-box);
}

::-webkit-scrollbar-thumb { /* Handle */
    background: var(--color-scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: red;
    border-radius: 10px;
}

/* THEMES */

.theme-dark {
    --color-background: #0c0d0e;
    --color-nav: #171a1c;
    --color-border: #808080;
    --color-box: #1e1e1e;
    --color-text1: #4a86e8; /* logo */
    --color-text2: #808080; /* title */
    --color-text3: #cccccc; /* text */
    --color-icon-link: #a6a6a6;
    --color-icon-hover: #808080;
    --color-icon-active: #cccccc;
    --color-scrollbar: #001f33;
}

.theme-light {
    --color-background: #whitesmoke;
    --color-nav: #d9d9d9;
    --color-border: blue;
    --color-box: blue;
    --color-text1: blue;
    --color-text2: blue;
    --color-text3: blue;
    --color-icon-link: red;
    --color-icon-hover: #171a1c;
    --color-icon-active: var(--color-active);
}

/* MEDIA */

/* @media screen and (max-width: 480px) {
    #nav {
        background-color: aqua;
    }   
} */
