* { /* Selects all elements */
    box-sizing: border-box; /* Includes padding + border in element's total size */
    margin: 0px; /* Sets the margin to default to 0 for all elements */
    padding: 0px; /* Sets the padding to default to 0 for all elements */
}

:root { /* Selects the document's root element: <html> */
    background-color: var(--color-background);
}

body {
    background-color: var(--color-background);
    height: 100vh;
    width: 100%;
}

#nav {
    background-color: var(--color-nav);
    color: var(--color-text1);
    padding: 10px;
    border-bottom: 1px solid var(--color-border);
    height: 60px;
    display: flex;
    align-items: center;
}

#logo {
    font-size: 16pt;
    font-weight: bold;
}

#icons {
    position: absolute;
    right: 10px;
}

.box {
    background-color: var(--color-box);
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--color-border);
}

.material-icons {
    font-size:36px;
}

.icon-links:link {
    color: var(--color-icon-link);
}

.icon-links:visited {
    color: var(--color-icon-visited);
}

.icon-links:hover {
    color: var(--color-icon-hover);
}

.icon-links:active {
    color: var(--color-icon-active);
}

/* THEMES */

.theme-dark {
    --color-background: #0c0d0e;
    --color-nav: #171a1c;
    --color-border: grey;
    --color-box: blue;
    --color-text1: blue;
    --color-text2: blue;
    --color-text3: blue;
    --color-icon-link: #d9d9d9;
    --color-icon-visited: #d9d9d9;
    --color-icon-hover: #171a1c;
    --color-icon-active: var(--color-active);
}

.theme-light {
    --color-background: #whitesmoke;
    --color-nav: #d9d9d9;
    --color-border: blue;
    --color-box: blue;
    --color-text1: blue;
    --color-text2: blue;
    --color-text3: blue;
    --color-icon-link: #d9d9d9;
    --color-icon-visited: #d9d9d9;
    --color-icon-hover: #171a1c;
    --color-icon-active: var(--color-active);
}

/* MEDIA */

@media screen and (max-width: 480px) {
    #nav {
        background-color: aqua;
    }   
}
