* { /* Selects all elements */
    box-sizing: border-box; /* Includes padding + border in element's total size */
    margin: 0px; /* Sets the margin to default to 0 for all elements */
    padding: 0px; /* Sets the padding to default to 0 for all elements */
}
:root { /* Selects the document's root element: <html> */
    background-color: #f2f2f2;
}
body {
    background-color: #f2f2f2;
    height: 100vh;
    width: 100%;
}

#nav {
    background-color: snow;
    padding: 10px;
    color: black;
    border-bottom: 1px solid gray;
    height: 60px;
    display: flex;
    align-items: center;
}

#logo {
    font-size: 20pt;
    font-weight: bold;
}

#icons {
    position: absolute;
    right: 10px;
}

.box {
    background-color: snow;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

.material-icons {
    font-size:36px;
}
.icon-links:link {
    color: var(--color-link);
}
.icon-links:visited {
    color: var(--color-visited);
}
.icon-links:hover {
    color: var(--color-hover);
}
.icon-links:active {
    color: var(--color-active);
}
/* THEMES */
.theme-dark {
    --color-background: #0c0d0e;
    --color-nav: #171a1c; /* 10 % lighter */
    --color-link: #d9d9d9;
    --color-visited: #d9d9d9;
    --color-hover: #171a1c;
    --color-active: var(--color-active);
}
.theme-light {
    --color-background: #whitesmoke;
    --color-nav: #d9d9d9;
    --color-link: #0c0d0e;
    --color-visited: #0c0d0e;
    --color-hover: #171a1c;
    --color-active: var(--color-active);
}

@media screen and (max-width: 480px) {
    #nav {
        background-color: aqua;
    }   
}
